body {
    font-family: sans-serif;
}

.container {
    width: 600px;
    min-height: 400px;
    background-color: #F0F0F0;
    border: 1px solid #CCC;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.container > * {
    padding: 5px;
    background-color: blueviolet;
    color: white;
    border: 1px solid indigo;
}

.box2 {
    align-self: stretch;
    flex-grow: 1;
}